@model Pie

<h2> @Model.Name</h2>

<div class="card">
    <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Name" />
    <div class="card-body">

        <p class="card-text">
            <h3 class="float-right">@Model.Price.ToString("c")</h3>
            <h3>
                <a>@Model.Name</a>
            </h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
        </p>
    </div>
</div>